.education-section {
  background-color: #5d869a;
  color: #333;
  text-align: center;
  padding: 50px 20px;
  width: 100%;
}

.education-content-container {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: 0 auto;
}

.education-content {
  width: 30%;
}

.separator {
  width: 2px;
  background-color: white;
  margin: 0 10px;
}

.certifications-content {
  width: 60%;
}

.education-content h3,
.certifications-content h3 {
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}

.education-list,
.technology-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.education-item,
.technology-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.education-item {
  width: 100%;
}

.technology-item {
  width: 45%;
}

.education-item h4,
.technology-item h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.education-item p,
.technology-item p {
  font-size: 1em;
  color: #666;
}

.mat-mdc-card-header {
  padding: 0 !important;
}

.mdc-card__actions {
  padding: 0 !important;
  max-height: 10px !important;
  min-height: 10px !important;
}

.mat-mdc-card-title {
  font-size: 1em;
}

@media (max-width: 768px) {
  .education-content-container {
    flex-direction: column;
    align-items: center;
  }

  .education-content,
  .certifications-content {
    width: 100%;
  }

  .education-list,
  .technology-list {
    flex-direction: column;
    align-items: center;
  }

  .education-item,
  .technology-item {
    width: 100%;
    margin: 5px 0;
  }

  .separator {
    display: none;
  }

  .mat-mdc-card-title {
    font-size: 0.9em;
  }

  .education-content h3,
  .certifications-content h3 {
    font-size: 1.2em;
    margin-top: 20px;
  }
}
