<label class="switch">
  <input type="checkbox" (change)="toggleLanguage()" [checked]="isEnglish" />
  <span class="slider">
    <span class="round" *ngIf="isEnglish">
      <img src="https://my-portifolio-images.s3.us-east-2.amazonaws.com/imgs-iot-system-project/usa-flag.png" alt="English" class="flag-icon-us" />
    </span>
    <span class="round" *ngIf="!isEnglish">
      <img src="https://my-portifolio-images.s3.us-east-2.amazonaws.com/imgs-iot-system-project/br-flag.png" alt="Portuguese" class="flag-icon-br" />
    </span>
  </span>
</label>
