.img-fluid {
  max-height: 300px;
  object-fit: cover;
}

.technology-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-item img {
  width: 48px;
  height: 48px;
}

.tech-item p {
  text-align: center;
  margin-top: 8px;
}
